# GCP Configuration
export PROJECT_ID="<YOUR_PROJECT_ID>"
export REGION="<YOUR_REGION>"

# AlloyDB Configuration
export CLUSTER_NAME="<YOUR_CLUSTER_NAME>"
export INSTANCE_NAME="<YOUR_INSTANCE_NAME>"
export ALLOYDB_PUBLIC_IP="<YOUR_ALLOYDB_PUBLIC_IP>"
export DATABASE_NAME="<YOUR_DATABASE_NAME>"
export DB_USER="<YOUR_DB_USER>"
export DB_PASSWORD="<YOUR_DB_PASSWORD>"

# Cloud Run Configuration
export SERVICE_NAME="<YOUR_SERVICE_NAME>"
export SERVICE_ACCOUNT="<YOUR_SERVICE_ACCOUNT>"
export IMAGE="<YOUR_IMAGE_PATH>"